@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";

* {
  padding: 0;
  margin: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
   /* margin-bottom: 10px;*/
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $green;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

#logo {
  animation: smallscale 1s forwards;
}

@keyframes smallscale {
  from { transform: scale(2); opacity: 0}
  to { transform: scale(1); opacity: 1 }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $black;
  color: $green;
  a {
    color: $green-gray;
    &:hover {
      color: $purple;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

ul.nav .fa {
  font-size: 17px;
}
.navbar-inverse {
  background-color: $green-opacity;
}

#scrolltotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 99;
  background-color: $green-purple;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  &:hover{
    background-color: $green-gray;
  }
}
.navbar-right li.contact_left .fa-phone-square{
  padding-right: 440px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $green-sky;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $white-gray;
    border-right: 1px solid $green-sky;
  }
}

.nav-sidebar {
  margin: 0 -21px 20px -20px;
  .active {
    a {
      color: $white;
      background-color: $light-blue;
      &:hover {
        color: $white;
        background-color: $light-blue;
      }
      &:focus {
        color: $white;
        background-color: $light-blue;
      }
    }
  }
}

.main {
  padding: 20px;
  .page-header {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
  h4 {
  margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;
  img {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

.text-muted {
  color: #659453f7;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
}

.wrap-header {
  position: relative;
  background: url(slider1.jpg);
  min-height: 600px;
  top: 0px;
  left: 0px;
}

.content {
  position: absolute;
  margin-top: 200px;
  z-index: 3;
  left: 20%;
  color: #b4a9c1;
  font-size: 30px;
  font-family: Poppins;
  font-weight: bold;
}

.name-tour {
  font-size: 40px;
  color: $white;
}

.name-tour {
  animation: belowtoabove 1s forwards;
}

@keyframes belowtoabove {
  from {transform: translateY(200px); opacity: 0}
  to {transform: translateY(0); opacity: 1}
}

.address {
  animation: lefttoright 2s forwards;
}

@keyframes lefttoright {
  from {transform: translateX(100px); opacity: 0}
  to {transform: translateX(0px); opacity: 1}
}

.card {
  position: relative;
}

.discount {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 60px;
  height: 30px;
  background: #F15734;
  color: $white;
  font-weight: bold;
}

.card-body .price {
  font-weight: bold;
  color: #1d8000;
}

.welcome {
  width: 35%;
  margin: auto;
  .above {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
}

img.sizeimage {
width: 238px;
height: 215px;
}

.fixsize {
  height: 200px;
  width: 200px;
}

.content-above {
  position: absolute;
  top: 450px;
  right: 10px;
  height: 150px;
  width: 300px;
  background: #386CC1;
  color: $white;
  .price {
    background: #294573;
    height: 50px;
    text-align: center;
  }
  .from {
    height: 90px;
    background: #386CC1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}

.wrap-form {
  margin-top: 150px;
}
