<footer class="footer">
  <small>
    <b><%= t "book_tour" %></b>
    <%= t "by" %> <b>Minh Chuc | Thuy Ha | Xuan Anh</b>
  </small>
  <nav>
    <ul>
      <li><%= link_to "0327464985", '#', class:"fa fa-phone-square" %></li>
      <li><%= link_to "nguyenminhchucit@gmail.com", '#',class:"fa fa-envelope" %></li>
    </ul>
  </nav>
</footer>
